PAYMENT_MINT_ADDRESS=7eTsoXT3HA2rCu1vF61CkvTJbA5bnh9pDgnB2vqMpump
PAYMENT_RESERVE_OWNER_WALLET=B3VZNSnWYGCZ1ZcydfSKvzjrL1UsYXWG5HTbgHAKaVjX
PAYMENT_REWARD_RESERVE_OWNER_WALLET=39DYX1oRUHCuQg9zFhB5HW8pJ3WhBeNXmZYyzVWf9Cao
PAYMENT_OPS_OWNER_WALLET=GrKAPcrb45WoxdxEwxoXyhbZmLWGoADwNsGGpWNmA4XC
PAYMENT_RESERVE_BPS=8000
PAYMENT_REWARD_RESERVE_BPS=1000
PAYMENT_OPS_BPS=1000
PAYMENT_TOKEN_PRICE_USD_OVERRIDE=0.0001
